<nav style="width: 220px; background-color: #f8f9fa; padding: 20px; min-height: 100vh; border-right: 1px solid #dee2e6;">
    <h3>Menu</h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item mt-3">
        <% if (loggedin) { %>
            <a class="btn btn-danger w-100" href="/logout">Logout</a>
        <% } else { %>
            <a class="btn btn-primary w-100" href="/">Login</a>
        <% } %>
      </li>
    </ul>
  </nav>