<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404 Not Found</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background: #ffffff;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: 'Quicksand', sans-serif;
      color: #5a6d89;
      text-align: center;
      padding: 20px;
    }
      /*
    h1 {
      font-size: 2.5rem;
      margin-top: 1rem;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1.5rem;
      color: #7b8ba1;
    } */
    .img-aru {
      width: auto;
      height: 200px;
      margin-bottom: 1rem;
      filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.05));
    }
    .btn-home {
      background-color: #92caff;
      border: none;
      padding: 0.5rem 1.5rem;
      font-size: 1rem;
    }
    .btn-home:hover {
      background-color: #b3dcff;
    }
  </style>
</head>
<body>

  <div class="jumbotron text-center">
    <img src="/img/aru-huh.png" alt="Aru Confused" class="img-aru">
    <h1 class="display-4">404: Not Found</h1>
    <p class="lead">Halaman yang kamu cari tidak ditemukan.</p>
    <hr class="my-4">
    <p>Mungkin kamu typo pas ngetik url atau memang halaman/controller sudah ga ada</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/home" role="button">Home</a>
    </p>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
