<div style="display: flex; min-height: 100vh;">
    <%- include('layouts/nav') %>
  
    <main class="container py-4" style="flex-grow: 1; position: relative;">
      <!-- Header -->
      <%- include('layouts/header-main') %>
  
      <!-- Searchbar Overlay -->
      <div style="position: absolute; top: 20px; right: 80px; z-index: 10;">
        <input type="text" class="form-control" placeholder="Search..." style="width: 250px;">
      </div>
  
      <!-- ScrollSpy Nav -->
      <div class="row mb-4">
        <div class="col-md-3">
          <div id="list-example" class="list-group position-sticky top-0">
            <a class="list-group-item list-group-item-action" href="#users">Users</a>
            <a class="list-group-item list-group-item-action" href="#teachers">Teachers</a>
            <a class="list-group-item list-group-item-action" href="#parents">Parents</a>
            <a class="list-group-item list-group-item-action" href="#students">Students</a>
            <a class="list-group-item list-group-item-action" href="#attendance_sessions">Attendance Sessions</a>
            <a class="list-group-item list-group-item-action" href="#attendance_subsessions">Attendance Subsessions</a>
            <a class="list-group-item list-group-item-action" href="#student_attendances">Student Attendances</a>
          </div>
        </div>
  
        <div class="col-md-9">
  
          <!-- USERS -->
          <div id="users" class="mb-5">
            <h4>Users</h4>
            <div style="max-height: 300px; overflow-y: auto;">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th><th>Username</th><th>Email</th><th>Role</th><th>WA</th><th>Created</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td><td>admin</td><td>admin@mail.com</td><td>admin</td><td>+628123456789</td><td>2024-01-01</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <!-- TEACHERS -->
          <div id="teachers" class="mb-5">
            <h4>Teachers</h4>
            <div style="max-height: 300px; overflow-y: auto;">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th><th>Name</th><th>NIP</th><th>Photo</th><th>User ID</th><th>Created</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td><td>John Doe</td><td>123456</td><td>photo.jpg</td><td>1</td><td>2024-01-01</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <!-- PARENTS -->
          <div id="parents" class="mb-5">
            <h4>Parents</h4>
            <div style="max-height: 300px; overflow-y: auto;">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th><th>Name</th><th>User ID</th><th>Created</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td><td>Jane Doe</td><td>2</td><td>2024-01-01</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <!-- STUDENTS -->
          <div id="students" class="mb-5">
            <h4>Students</h4>
            <div style="max-height: 300px; overflow-y: auto;">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th><th>NIS</th><th>NISN</th><th>Name</th><th>DOB</th><th>POB</th><th>Photo</th><th>Address</th><th>RFID</th><th>Parent ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td><td>1234</td><td>5678</td><td>Student A</td><td>2005-06-01</td><td>City A</td><td>photo.jpg</td><td>Jl. Kebon</td><td>RFID123</td><td>1</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <!-- ATTENDANCE SESSIONS -->
          <div id="attendance_sessions" class="mb-5">
            <h4>Attendance Sessions</h4>
            <div style="max-height: 300px; overflow-y: auto;">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th><th>Name</th><th>Created</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td><td>Sesi Pagi</td><td>2024-01-01</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <!-- ATTENDANCE SUBSESSIONS -->
          <div id="attendance_subsessions" class="mb-5">
            <h4>Attendance Subsessions</h4>
            <div style="max-height: 300px; overflow-y: auto;">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th><th>Name</th><th>Start</th><th>End</th><th>Session ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td><td>Masuk Pagi</td><td>07:00</td><td>07:30</td><td>1</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <!-- STUDENT ATTENDANCES -->
          <div id="student_attendances" class="mb-5">
            <h4>Student Attendances</h4>
            <div style="max-height: 300px; overflow-y: auto;">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th><th>Time</th><th>Photo</th><th>Student ID</th><th>Subsession ID</th><th>Pos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td><td>2024-01-01 07:05</td><td>attend.jpg</td><td>1</td><td>1</td><td>Depan Kelas</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
        </div>
      </div>
    </main>
  </div>